name: MLOps CI Pipeline

# Triggers: Run on push to main/dev or any PR targeting main/dev
on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  test-and-report:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout your code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Setup Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12' # Match your Vertex AI environment
    
      - name: setup nodejs
        uses: actions/setup-node@v3
        with: 
          node-version: '22'

      # 3. Install all dependencies
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install pandas scikit-learn joblib dvc-gs feast[sqlite] pytest numpy
          npm i -g @dvcorg/cml
          npm install -g vega-cli vega-lite
          sudo apt-get install -y libcairo2-dev libfontconfig-dev libgif-dev libpango1.0-dev librsvg2-dev

      # 4. Authenticate to Google Cloud
      - name: Authenticate to GCS
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      # 5. Setup DVC and pull data/models
      - name: Pull DVC data and models
        run: |
          # DVC needs the gcloud CLI to use the credentials
          sudo apt-get install -y google-cloud-cli

          # DVC pull
          dvc pull
        env:
          # This tells DVC to use the credentials we just set up
          USE_GKE_GCLOUD_AUTH_PLUGIN: True 

      # 6. Setup Feast (Materialize the online store)
      - name: Setup Feast
        run: |
          # Navigate to the correct, nested repo
          cd feature_repo/feature_repo

          # DVC should have pulled this parquet file
          echo "Checking for offline data..."
          ls -l ../../data/

          # Register features and build the local SQLite DB
          feast apply
          feast materialize-incremental 2026-01-01T00:00:00

          # Go back to root
          cd ../../

      # 7. Run Pytest
      - name: Run Pytest and create report
        run: |
          # Run tests and pipe the output to a report file
          pytest -v | tee pytest-report.txt


      # 8. Post CML Report
      # 8. Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
         node-version: '18' # Use a stable LTS version

       81a7236873fd2a335790718ad32472efa87fc832

      # 9. Install CML and Post Report
      - name: Install CML and Post Report
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
         HEAD
        
         npm install -g @dvcai/cml
        81a7236873fd2a335790718ad32472efa87fc832
        cml comment create --pr pytest-report.txt
